In [42]:
import pandas as pd

In [43]:
df_origin_train = pd.read_csv('train.csv')
df_origin_test = pd.read_csv('test.csv')

df_aug_train = pd.read_csv('train_augmented.csv')
df_aug_test = pd.read_csv('test_augmented.csv')

In [44]:
df_new_train = pd.concat([df_origin_train[['text', 'sentiment']], df_aug_train], ignore_index=True)

In [45]:
df_new_train = df_new_train.drop_duplicates(subset=['text'])

In [46]:
df_new_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39681 entries, 0 to 52277
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       39680 non-null  object
 1   sentiment  39681 non-null  object
dtypes: object(2)
memory usage: 930.0+ KB

In [47]:
df_new_train[df_new_train.isnull().any(axis=1)]

    text sentiment
314  NaN   neutral

In [48]:
df_new_train = df_new_train.dropna()

In [49]:
df_new_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39680 entries, 0 to 52277
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       39680 non-null  object
 1   sentiment  39680 non-null  object
dtypes: object(2)
memory usage: 930.0+ KB

In [50]:
df_new_test = pd.concat([df_origin_test[['text', 'sentiment']], df_aug_test], ignore_index=True)

In [51]:
df_new_test = df_new_test.drop_duplicates(subset=['text'])

In [52]:
df_new_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7022 entries, 0 to 11883
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       7021 non-null   object
 1   sentiment  7020 non-null   object
dtypes: object(2)
memory usage: 164.6+ KB

In [53]:
df_new_test[df_new_test.isnull().any(axis=1)]

        text sentiment
7068     NaN       NaN
11883  South       NaN

In [54]:
df_new_test = df_new_test.dropna()

In [55]:
df_new_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7020 entries, 0 to 11882
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       7020 non-null   object
 1   sentiment  7020 non-null   object
dtypes: object(2)
memory usage: 164.5+ KB

In [57]:
df_new_train.to_csv('train_aug.csv', index=False)
df_new_test.to_csv('test_aug.csv', index=False)